{{ attach_library('tribute/block-info') }}
<section id="section-info" class="info">
	<div class="container">
		<div class="info_content">
			<div id="title" class="title">
				{{ title }}
			</div>

			<div class="img_info">
				<div class="img_content">
					<div id="img-div" class="div_img">
						{{ image }}
						<div id="img-caption" class="img-caption">
							{{ descimage }}
						</div>
					</div>
				</div>

				<div class="img_info_content">
					<div class="content_caption">
						{{ body }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
